@use '../mixins/responsive.scss' as *;

.header {
  position: relative;
  margin-bottom: 32px;
  padding: 28px 16px 0;
  overflow-x: clip;
  @include responsive(desktop) {
    padding: 89px 165px 0;
  }
}
