@use '../mixins/responsive.scss' as *;

.icon-menu{
    @include responsive(desktop){
        display: none;
    }
}
.menu{
    display: none;
  position: absolute;
  flex-direction: column;
  align-items: center;
  top: 106px;
  gap: 2rem;
  width: 329px;
  padding: 39px;
  &::after{
    position: absolute;
  content: "";
  top: -24px;
  right: 0;
  width: 24px;
  height: 24px;
  background-color: #fffcf8;
  }
}