.text{
    margin: 0;
    font-size: 0.9375rem;
    line-height: 26px;
    &--black{
        color: var(--text-color);
    }
    &--top{
        margin-bottom: 24px;
    }
    &--gray{
        color: var(--text-color-light);
    }
    &--xl{
        font-weight: 700;
        font-size: 2rem;
        line-height: 32px;
        color: var(--text-color-light);
        margin-bottom: 12px;
    }
}
