:root {
  --title-xl: #00001A;
  --title-l: #E9AA52;
  --link-m: #FFFDFA;
  --link-s: #00001A;
  --primary-color: #F15D51;
  --secundary-color: #00001A;
  --neutral-color:#FFFDFA;
  --text-color: #5E607A;
  --text-color-light:#C5C6CE;
}

/* Variables SASS */
